<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="main">
    <div class="main__welcome">
        <app-nav></app-nav>
        <div class="container-row">
                <div class="left-container">
                    <h1 class="bold">our strong organisation</h1>
                    <h3 class="specific">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque tempora earum dolore debitis? Exercitationem sint similique dicta vitae eos qui nobis dolor saepe nemo vel? Ullam fugiat impedit praesentium perferendis.</h3>
                    <a href="#" class="myButton">Contact Us</a>
                </div>
                <div class="right-container">
                    <iframe  src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>
        </div>
    </div>
    <div class="main__second">
        <div class="container-row">
            <div class="left-container">
                <h1 class="bold__second">do you know we can provide for you?</h1>
                <h3 class="specific">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea culpa explicabo quos incidunt aliquid voluptates vero eum odit cupiditate, corporis eligendi harum ex maiores accusamus earum libero, corrupti voluptas.</h3>
                <a href="#" class="myButtonWhite">Learn more</a>
            </div>
            <div class="right-container">
                <div class="container-row">
                    <div class="card">
                        <i class="material-icons">cloud</i>
                        <h3 class="specificBlack">Management</h3>
                        <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, reiciendis dolore in quibusdam amet perspiciatis corrupti impedit accusamus voluptatibus ipsam ratione. Maiores animi fugit ducimus aliquid eum quis et officia.</h4>
                    </div>
                    <div class="card">
                        <i class="material-icons">favorite</i>
                        <h3 class="specificBlack">Design</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni assumenda aliquam, nostrum dolorum commodi libero eius consectetur totam quia doloremque tempore minus vero vitae, voluptates, maxime unde. Quod, minima accusamus!</h4>
                    </div>
                </div>
                <div class="container-row">
                        <div class="card">
                            <i class="material-icons">computer</i>
                            <h3 class="specificBlack">Logo / Branding</h3>
                            <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, facilis. Ipsum ullam nihil excepturi delectus asperiores animi deserunt amet! Qui totam vel laborum ipsum quasi exercitationem veniam obcaecati quas! Expedita.</h4>
                        </div>
                        <div class="card">
                            <i class="material-icons">traffic</i>
                            <h3 class="specificBlack">Animation</h3>
                            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consequuntur quasi corrupti fuga accusantium eveniet voluptates suscipit expedita ab a. Accusamus, in eum voluptas nulla laudantium exercitationem cum accusantium quas?</h4>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>